<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.denimihut.movieApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.denimihut.movieApp.app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieApp"
        tools:targetApi="31">
        <activity
            android:name="com.denimihut.movieApp.activity.tab_activity.TabbedMainActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_main"
            android:theme="@style/Theme.MovieApp.NoActionBar" />
        <activity
            android:name="com.denimihut.movieApp.activity.SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.MovieApp.NoActionBar" />
        <activity
            android:name="com.denimihut.movieApp.activity.ActorsActivity"
            android:exported="false" />
        <activity
            android:name="com.denimihut.movieApp.activity.GenresActivity"
            android:exported="false" />
        <activity
            android:name="com.denimihut.movieApp.activity.OnBoardingActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.denimihut.movieApp.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.denimihut.movieApp.activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>